/* Bootstrap automatically inserts the URL of a link after the link in
 * printed media. Good idea in theory, but not always desireable. */
a[href^="callto:"]::after,
a[href^="mailto:"]::after,
a[href^="skype:"]::after {
    content: "" !important;
}

/* Skills list is a horizontal list, so on screen we need to add margin above
 * both the dt's and the dd's. In print, it's stacked vertically, so we only
 * need a margin above the dt's. */
dl.skills-list dd {
    margin-top: 0 !important;
}

/* Since the menubar doesn't print, we can remove the padding at the top of the
 * page. */
#content {
    padding-top: 0;
}

#print-warning {
    margin-top: 2em;
    margin-bottom: 1em;
}

/* The jumbotron doesn't need padding without a background color. */
.jumbotron {
    padding: 0;
    margin: 0;
    background: none;
}

/* Never show a section link icon when printing. */
.section-link {
    display: none;
}

