html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding: 0 0 100px 0;
}

#content-body {
    padding-bottom: 25px;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer > * {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 10px;
}

#navbar .g-signin {
    /* Mark these as important because the style attribute will try to zero
     * them out. */
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.nav.nav-centered {
    text-align: center;
}

.nav.nav-centered > li {
    float: none !important;
    display: inline-block !important;
}

.g-plus-profile img {
    float: right;
    height: 30px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.g-plus-profile p.navbar-text {
    margin-right: 6px;
}

