html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding: 50px 0 4em 0;
}

#footer {
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2em;
}

#footer ul {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#footer li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.g-plus-signin > div {
    /* Mark these as important because the style attribute will try to zero
     * them out. */
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.g-plus-profile img {
    float: right;
    height: 30px;
    border-radius: 5px;
}

