body {
    font-family: Linux Libertine, serif;
    text-rendering: optimizeLegibility;
}

section {
    padding-bottom: 0.5ex;
}

h1, h2, h3, h4, h5, h6, h5 {
    break-after: avoid;
    page-break-after: avoid;
}

#content-body {
    background: white;
}

#my-contact-info {
    margin-top: 20px;
}

#portrait {
    float: right;
    width: 2in;
    height: auto;
}

a.logo {
    color: white !important;
}

a.logo:hover {
    color: white;
    text-decoration: none;
}

a.logo::before {
    float: left;
    display: inline-block;
    content: 'a';
    font-family: 'Uplifting Lemma';
}

a.logo-large {
    display: block;
    font-size: 63px;
}

a.logo-large::before {
    font-size: 110px;
    margin-top: -15px;
    margin-right: 25px;
}

a.logo-small {
    display: inline-block;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.6;
}

a.logo-small:hover {
    opacity: 1.0;
}

a.logo-small::before {
    font-size: 50px;
    margin-top: -10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.upliftinglemma {
    color: hsl(240, 50%, 60%);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

.jumbotron {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    background: none;
}

.jumbotron h1 small {
    color: hsl(250, 50%, 80%);
}

.jumbotron p {
    color: hsl(250, 50%, 80%);
}

.jumbotron .container::after {
    clear: none;
}

.navbar-brand {
    padding-left: 58px;
    background-image: url(/assets/img/upliftinglemma_logo_navbar.svg);
    background-size: auto 36px;
    background-repeat: no-repeat;
    background-position: 15px 7px;
}

.striped {
    background-attachment: fixed;
    background-color: hsl(250, 60%, 40%);
    background-image: linear-gradient(45deg, hsla(240, 50%, 60%, 0.1) 25%, transparent 25%,
        transparent 50%, hsla(240, 50%, 60%, 0.1) 50%, hsla(240, 50%, 60%, 0.1) 75%,
        transparent 75%, transparent);
    background-size: 4ex 4ex;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.striped a {
    color: hsl(208, 50%, 70%);
}

.striped a:hover {
    color: white;
}

ul.fa-ul li a .fa-li {
    color: black;
}

ul.section-list > li,
ol.section-list > li {
    /* page-break-inside: avoid; */
}

ul.section-list > li + li,
ol.section-list > li + li {
    margin-top: 3ex;
}

ul.section-list h5,
ol.section-list h5 {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    margin-right: 1ex;
}

ul.duties-list, ol.duties-list {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

ul.duties-list > li + li,
ol.duties-list > li + li {
    margin-top: 1ex;
}

/* For small devices and up. */
@media(min-width:768px) {
    dl.skills-list dt {
        width: 120px;
    }

    dl.skills-list dd {
        margin-left: 135px;
    }
}

dl.skills-list dt:not(:first-of-type) {
    margin-top: 0.75ex;
}

dl.skills-list dd:not(:first-of-type) {
    margin-top: 0.75ex;
}

.section-link {
    display: none;
    color: rgba(0, 0, 0, 0.25);
}

h2:hover .section-link {
    display: inline;
}

.title {
    font-weight: bold;
    margin-right: 1ex;
}

.date {
    font-style: italic;
}

.contact-info {
    padding-left: 20px;
    margin-top: .75ex;
}

.contact-info a .fa {
    color: black;
    margin-right: .75ex;
}

.toggle-hidden-hidden .hidden-content {
    display: none;
}

.toggle-hidden-hidden {
    color: rgba(0, 0, 0, 0.40);
}

.education-bar .timeline-event {
    color: white;
    background: #3c763d;
    border-color: #1c561d;
}

.education-bar .timeline-event:hover {
    color: #1c561d;
    background: #dff0d8;
    text-decoration: none;
}

.career-bar .timeline-event {
    color: white;
    background: #428bca;
    border-color: #31708f;
}

.career-bar .timeline-event:hover {
    color: #31708f;
    background: #d9edf7;
    text-decoration: none;
}

a.block-link {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 15px;
    color: hsl(250, 60%, 40%);
    background-color: white;
}

a.block-link:active {
    color: hsl(250, 60%, 40%);
}

